// Core variables and mixins
@import "variables.scss";
@import "mixins.scss"; // Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss"; // Components

#downloadBtn {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: $primary;
  /* Set a background color */
  color: black;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  @media only screen and (max-width: 414px) {
    background-color: $primary;
    /* Set a background color */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 15px;
    /* Place the button 30px from the right */
    padding: 8px;
    /* Some padding */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 9px;
    /* Increase font size */
  }
}

#downloadBtn:hover {
  background-color: $primary !important;
  /* Add a dark-grey background on hover */
}

.downloadIcon {
  margin-right: 10px;
  @media only screen and (max-width: 414px) {
    margin-right: 5px;
    width: 40%;
    height: auto;
  }
}
/* The grid: Four equal columns that floats next to each other */
.ingColumn {
  float: left;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
}
/* Style the images inside the grid */
.ingColumn img {
  // opacity: 0.8;
  width: auto;
  cursor: pointer;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}
/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
/* Closable button inside the image */
.closebtn {
  // position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.hyperlinkNoColor {
  color: inherit;
}